{% extends 'base.html' %}
{% block title %}
    Code With Me | Home
{% endblock %}
{% block content %}
    <span>
    <div style="color:white " >
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">Code With Me Homepage</h1>
            <p class="lead font-weight-normal" style="font-weight: bold" >Start creating some cool projects right now</p>
            <a class="btn btn-primary" href="{{ url_for('projects_page') }}">Get Started</a>
        </div>
        <div class="product-device box-shadow d-none d-md-block"></div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>
</span>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <style>
    body{
  background-image: url(https://f8-zpcloud.zdn.vn/2179212904341543942/868551579134486a1125.jpg);
}
    p{
      font-family: Geneva, sans-serif;
        font-size: 6vh;
    }
    .position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark{
        background-color: transparent;

    }
    </style>
   
{% endblock %}